@charset "utf-8";

header,header img,.banner,.banner img{
	width: 100%;
	height: auto;
}
header{
	position: relative;
}
header a:first-of-type{
	position:absolute;
	bottom: 8px;
    left: 0rem;
    width: 113px;
    height: 29px;
    z-index: 2;
}
header a:last-of-type{
	position:absolute;
	bottom: 8px;
    right: 5px;
    width: 113px;
    height: 29px;
    z-index: 2;
}
section{
	background-color: #0a62a9;
}
section h3,section h3 img{
	width: 100%;
	height: auto;
}
section ul{
	width: 100%;
	height: auto;
}
section ul li{
	width: 100%;
	height: auto;
	padding-bottom: 8px;
}
section ul li img{
	width: 100%;
	height: auto;
}
section div{
	width: 100%;
	height: auto;
}
section div img{
	width: 100%;
	height: auto;
}
.seckill{
	padding-bottom: 20px;
}

#hungBar{
	width: 72px;
	height: 151.12px;
	position: fixed;
	bottom: .5rem;
    left: .5rem;
    z-index: 99;
}
#hungBar div{
	width: 72px;
	height: 72px;
	
	background:rgba(255,255,255,0.8) url(../../images/icon_hungBar.png) no-repeat;
	border-radius: 100%;
	border:1px solid #eee;
	background-size: 72px auto;
}
#hungBar .backHome{
	background-position:0 0;
}
#hungBar #backTop{
	margin-top: 7.5px;
	background-position:0 -79.12px;
}