@charset "utf-8";
/*头部*/
.feedback header{width: 100%;height: 2.174997rem;background: #eeeeee;border-bottom: 1px solid #c7c7c7;position: fixed;left: 0;top: 0;z-index: 1;} 
.feedback header p{width: 100%;height: 2.174997rem;line-height: 2.174997rem;}
.feedback header p span{margin-left: 0.862499rem;margin-right: 6.074992rem;}
.feedback header p a{font-size: 0.674999rem;}
.feedback header p span img{width: 0.524999rem;height:0.862499rem }
/*主体部分*/
.feedback .main{background: #f7f7f7;overflow: hidden;}
.feedback .main:before{content: "";display: block;height: 2.174997rem;width: 100%;}
.feedback .main>ul{width: 100%;height: 4.874994rem;background: white;margin-top: 0.599999rem;border-bottom: 1px solid #eeeeee;}
.feedback .main>ul>li{width: 16.762479rem;height: 2.437497rem;display: flex;border-bottom: 1px solid #eeeeee;align-items:center;margin-left: 0.599999rem;}
.feedback .main>ul>li:last-of-type{border-bottom: none;}
.feedback .main>ul>li>img{width: 0.412499rem;height:0.412499rem; }
.feedback .main>ul>li>a{font-size: 0.599999rem;margin-right: 1.124999rem;color: #333333;}
.feedback .main>ul>li>span{font-size: 0.599999rem;color: #888888;margin-right:2.399997rem;display: block;width: 9.599988rem;}
.feedback .main>.load{width:100% ;height: 5.624993rem;background: white;border-top: 1px solid #eeeeee;;margin-top: 0.562499rem;}
.feedback .main>.load>p{font-size: 0.599999rem;color:#333333;padding-left: 0.599999rem;margin-top: 0.599999rem;margin-bottom: 0.599999rem;}
.feedback .main>.load>p>span{color: #888888;margin-left: 0.225rem;}
.feedback .main>.load>div{width: 3.074996rem;height:3.074996rem;background: #f7f7f7 ;text-align: center;line-height:3.074996rem;margin-left: 0.599999rem;}
.feedback .main>.load>div>span{display: block;width: 100%;height: 0.749999rem;}
.feedback .main>.load>div>span:nth-of-type(1){font-size: 0.749999rem;color: #cccccc;font-weight: bold;margin-bottom: 0.1375rem}
.feedback .main>.load>div>span:nth-of-type(2){color: #cccccc;font-weight: bold; }
.feedback .main>p{width: 100%;height: 2.399997rem;margin-top: 0.674999rem;background: white;border: 1px solid #f7f7f7;line-height:2.399997rem; }
.feedback .main>p>span:nth-of-type(1){margin-left: 0.599999rem;margin-right: 0.524999rem;}
.feedback .main>p>span{color: #333333;font-size: 0.599999rem;}
.feedback .main>.code{width: 100%;height: 2.399997rem;margin-top: 0.674999rem;background: white;border: 1px solid #f7f7f7;line-height:2.399997rem; }
.feedback .main>.code>span:nth-of-type(1){margin-left: 0.599999rem;}
.feedback .main>.code>span:nth-of-type(2){font-size: 0.599999rem;display: inline-block;background: pink;width: 3.224996rem;height: 1.349998rem;line-height: 1.349998rem;text-align: center;margin-left: 3.824995rem;margin-right: 0.674999rem;font-weight: bold;}
.feedback .main>.code>a{color: #28c0c6;font-size: 0.599999rem;}
/*按钮*/
.feedback .main>.btn{width:100% ;height:3.862495rem;display: flex;align-items:center;}
.feedback .main>.btn>span{display: block;width: 7.87499rem;height: 2.249997rem;border: 1px solid #b2b2b2;border-radius: 0.375rem;line-height:2.249997rem;text-align: center;font-size: 0.749999rem;color: #333333;margin-left: 0.749999rem;}
/*页脚部分*/
.feedback .foot{width: 100%;background: #f7f7f7;overflow: hidden;}
.feedback .footer{width: 100%;height: 5.137494rem;display: flex;align-item:center;justify-content:center;background: white;margin-top: 0.375rem;flex-wrap:wrap;}
.feedback .footer p{width: 100%;height: 1.087498rem;line-height:1.087498rem;/*border:1px solid red;*/}
.feedback .footer p:nth-of-type(1){margin-top: 0.749999rem;}
.feedback .footer p:nth-of-type(1) span:nth-of-type(1){margin-left: 6.824991rem;margin-right: 1.874998rem;}
.feedback .footer p:nth-of-type(1) span{font-size: 0.674999rem;color:#888888;}
.feedback .footer p:nth-of-type(2) span:nth-of-type(1){margin-left: 4.762494rem;}
.feedback .footer p:nth-of-type(2) span{display: inline-block;height:0.637499rem ;width: 3.187496rem;line-height: 0.637499rem;border-right: 1px solid #888888;text-align: center;}
.feedback .footer p:nth-of-type(2) span:nth-of-type(3){border-right: none;}
.feedback .footer p:nth-of-type(2) span{font-size: 0.674999rem;color:#888888;}
.feedback .footer p:nth-of-type(2) span:first-of-type{color: #ca151e;}
.feedback .footer p:nth-of-type(3){text-align: center;/*font-size: 0.674999rem;*/color:#888888;} 
/*页脚部分隐藏*/
footer{display: none;}
