@charset "utf-8";
/*头部*/
.mychit header{width: 100%;height: 2.174997rem;background: #eeeeee;border-bottom: 1px solid #c7c7c7;} 
.mychit header p{width: 100%;height: 2.174997rem;line-height: 2.174997rem;}
.mychit header p span{margin-left: 0.862499rem;margin-right: 6.074992rem;}
.mychit header p a{font-size: 0.674999rem;}
.mychit header p span img{width: 0.524999rem;height:0.862499rem }
/*主体部分*/
.mychit .main{background: #f7f7f7;overflow: hidden;}
.mychit .main>.money{width: 100%;height: 4.949994rem;background: white;margin-top: 0.562499rem;overflow: hidden;}
.mychit .main>.money>span:nth-of-type(1){display: block;margin-left: 0.674999rem;font-size: 0.524999rem;margin-top: 0.824999rem}
.mychit .main>.money>span:nth-of-type(2){display: inline-block;margin-left: 6.412492rem;font-size: 1.424998rem;font-weight: bold;margin-top: 0.862499rem;}
.mychit .main>.money>a{display: inline-block;margin-top: 0.862499rem;margin-left: 0.449999rem;font-size: 0.599999rem;}
.mychit .main>.tips{width:100% ;height:3.824995rem;}
.mychit .main>.tips>span{display: block;margin: 0.899999rem 0 0 0.599999rem;font-size: 0.674999rem;font-weight: bold;}
.mychit .main>.tips>p{margin: 0.1875rem 0 0  0.599999rem;font-size: 0.524999rem;color: #888888;height: 1.312498rem;line-height:0.7rem}
/*页脚部分*/
.mychit .foot{width: 100%;height: 8.06249rem;background: #f7f7f7;overflow: hidden;}
.mychit .footer{width: 100%;height: 5.137494rem;display: flex;align-item:center;justify-content:center;background: white;margin-top: 0.749999rem;flex-wrap:wrap;}
.mychit .footer p{width: 100%;height: 1.087498rem;line-height:1.087498rem;/*border:1px solid red;*/}
.mychit .footer p:nth-of-type(1){margin-top: 0.749999rem;}
.mychit .footer p:nth-of-type(1) span:nth-of-type(1){margin-left: 6.824991rem;margin-right: 1.874998rem;}
.mychit .footer p:nth-of-type(1) span{font-size: 0.674999rem;color:#888888;}
.mychit .footer p:nth-of-type(2) span:nth-of-type(1){margin-left: 4.762494rem;}
.mychit .footer p:nth-of-type(2) span{display: inline-block;height:0.637499rem ;width: 3.187496rem;line-height: 0.637499rem;border-right: 1px solid #888888;text-align: center;}
.mychit .footer p:nth-of-type(2) span:nth-of-type(3){border-right: none;}
.mychit .footer p:nth-of-type(2) span{font-size: 0.674999rem;color:#888888;}
.mychit .footer p:nth-of-type(2) span:first-of-type{color: #ca151e;}
.mychit .footer p:nth-of-type(3){text-align: center;/*font-size: 0.674999rem;*/color:#888888;} 
.mychit .footer p:nth-of-type(3) span{font-size: 0.674999rem;}
/*页脚部分要隐藏*/
footer{display: none;}