
	<div class="cart">
		<!-- 头部 -->
		<header>
			<a href="javascript:history.go(-1);" class="btn-back"></a>
			<div>购物车</div>
			<a ui-sref="home" class="cart"></a>
		</header>
		<!-- 空空如也 -->
		<div class="empty" ng-hide="flag">
			<div>
				<span></span>
				<p>╯ ▂ ╰  购物车都饿扁了，快去喂它吧</p>
			</div>
			<div class="btn"><a ui-sref="home">去购物</a></div>
		</div>
		<!-- 有货界面 -->
		<div class="full" ng-show="flag">
			<form action="javascript:;">
				<p><span ng-click="del()"></span>商品清单</p>
				<ul>
					<li ng-repeat="x in data">
						<span ng-click="choose($event)" class="is_check"></span>
						<div>
							<img ng-src={{x.img}} alt="">
							<p class="name">{{x.name}}</p>
							<span class="price">{{x.price}}</span>
							<input class="num" type="text" ng-value={{x.num}}  ng-blur='changeNum()'>
						</div>
					</li>
				</ul>
			</form>
			<div class="bottom">
				<a class="clear">去结算</a>
				<p>商品总价 : <span>￥<i class="total">199.00</i></span></p>
			</div>

		</div>
		<div class="emptyTips" ng-show="maxFlag">亲，您还没有选中任何宝贝哦◑﹏◐</div>
	</div>
