@charset "utf-8";
/*头部*/
.myorder header{width: 100%;height: 4.424994rem;background: #eeeeee;} 
.myorder header p{width: 100%;height: 2.174997rem;line-height: 2.174997rem;}
.myorder header p span{margin-left: 0.862499rem;margin-right: 6.074992rem;}
.myorder header p a{font-size: 0.674999rem;}
.myorder header p span img{width: 0.524999rem;height:0.862499rem }
.myorder header ul{display: flex;height: 2.212497rem;}
.myorder header ul li{width: 4.499994rem;height: 100%;display: flex;align-items:center;justify-content:center;font-size: 0.674999rem}
/*主体部分*/
.myorder .main p{display: flex;padding: 1.762498rem 0rem 4.687494rem 4.499994rem;font-size: 0.524999rem;color: #888888;}
.myorder .main{height: 18.974976rem;background:#f7f7f7;}
/*页脚部分要隐藏*/
footer{display: none;}